<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ts_HisVsLis_interface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Ts_HisVsLis_interface.Properties.Settings>
            <setting name="Ts_HisVsLis_interface_WebReference_lisService"
                serializeAs="String">
                <value>http://192.168.0.81:8012/lisService.asmx</value>
            </setting>
        </Ts_HisVsLis_interface.Properties.Settings>
    </applicationSettings>
</configuration>