
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_mz_brxx]') AND type in (N'P', N'PC'))
DROP PROC sp_mz_brxx
GO
create  PROCEDURE [dbo].[sp_mz_brxx]  
 (@binid UNIQUEIDENTIFIER, --病人信息ID  
  @klx int,  
  @tmkh varchar(30),--条码卡  
  @ybkh varchar(30),--医保卡号  
  @bk int --0 当前表,1 备份表  
 )   
AS   
declare  @table_brxxk varchar(20)  
--exec sp_mz_brxx 0,'','',0  
declare @ss varchar(4000)  
declare @ssbk varchar(4000)  
  
if @bk=0   
 begin  
   set @table_brxxk='YY_brxx'  
 end   
else  
 begin  
   set @table_brxxk='YY_brxx'  
 end  
  
set @ss='select a.BRXXID binid,a.BRXM 姓名,dbo.FUN_ZY_SEEKSEXNAME(xb) 性别,  
dbo.fun_zy_age(a.csrq,3,DJSJ) 年龄,'+  
''''' 条码卡号,'''' 医保卡号,'''' 病人类型代码,'+  
'JTDZ 地址,JTDH 电话,'''' 联系人,'''' 单位编码,GZDW 单位名称 '+  
' from '+@table_brxxk+' a(nolock)  where BRXXID is not null  '  
print @ss  
  
set @ssbk=@ss  

set @tmkh=REPLACE(@tmkh,'?','')
set @tmkh=REPLACE(@tmkh,';','')
set @tmkh=REPLACE(@tmkh,':','')
if @binid<>dbo.FUN_GETEMPTYGUID()   
set @ss=@ss+' and BRXXID='''+cast(@binid as varchar(100))+''''  
if @tmkh<>''  
set @ss=@ss+'  and isnull(brxxid,dbo.FUN_GETEMPTYGUID()) in(select brxxid from yy_kdjb where  kh='''+@tmkh+''')'  
if @ybkh<>''  
set @ss=@ss+' SFZH='''+@tmkh+''''  
set @ss=@ss+' order by a.BRXXID desc'  
exec(@ss)  
  
print @ss  
  
  
  
  
  
  
  
  