<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ts_yf_mzkf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ts_yf_mzkf.Properties.Settings>
            <setting name="ts_yf_mzkf_WebReference_getHisInfoToWillach" serializeAs="String">
                <value>http://192.168.100.170:8080/org.platform.core/ws/willach?wsdl</value>
            </setting>
            <setting name="ts_yf_mzkf_NyMzkf_ServiceHis" serializeAs="String">
                <value>http://192.168.0.44:8000/ConsisWebService/ServiceHis.svc</value>
            </setting>
            <setting name="ts_yf_mzkf_TrasenWS_TrasenWS" serializeAs="String">
                <value>http://192.168.0.90:88/TrasenWS.Asmx</value>
            </setting>
            <setting name="ts_yf_mzkf_HHMZKF_ServiceHis" serializeAs="String">
                <value>http://192.168.100.171:8003/ConsisWebService/ServiceHis.svc</value>
            </setting>
        </ts_yf_mzkf.Properties.Settings>
    </applicationSettings>
</configuration>