<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClsMzCall.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ClsMzCall.Properties.Settings>
            <setting name="ClsMzCall_MzCallWs_WebServiceTerminalCall" serializeAs="String">
                <value>http://192.168.0.141:81/WebServiceTerminalCall.asmx</value>
            </setting>
        </ClsMzCall.Properties.Settings>
    </applicationSettings>
</configuration>